edex/gov.noaa.nws.ncep.edex.plugin.ghcd/utility/common_static/base/ncep/ghcd/ace_magnetometer.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

   <!--
      Define the root level element "dataset". For now each XML
      message must have one and only one "dataset" element. This
      root element contains one child element to specify the
      data resolution and zero or more elements containing the
      time tagged ACE Magnetometer data.
   -->
   <xs:element name="dataset">
   
      <xs:complexType>
      
         <!-- The ordered sequence of child elements -->
         <xs:sequence>
         
            <!-- required element specifying the data resolution -->
            <xs:element name="data-resolution" type="data-resolution-type"/>
            
            <xs:element name="data-field-definitions" type="field-description-list"/>
            
            <!-- the optional description -->
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            
            <!-- The data elements (zero or more) of type "time-tagged-data" -->
            <xs:element name="data-item" type="time-tagged-data" minOccurs="0" maxOccurs="unbounded"/>
            
         </xs:sequence>
         
         <!--
              The "source" attribute (e.g. goes-12, goes-r). This attribute
              is of type "data-sources" which is a simple type enumerating
              the valid string values for "source".
         -->
         <xs:attribute name="source" type="data-sources" use="required"/>
        
         <!--
               The "entry-count" attribute is an optional non-negative
               integer which specifies the number of data-item entries
               in the dataset.
         -->
         <xs:attribute name="entry-count" type="xs:nonNegativeInteger"/>
      </xs:complexType>
   </xs:element>

   <!--
         The complexType "time-tagged-data" encodes the time tagged
         data for the Magnetometer instrument of ACE (Advanced Composition Explorer) satellite.
         The time tag for all of the child elements is specified as a required argument.
         
         The child elements may appear in any order. A missing or empty
         child element may be interpreted as a missing value.
   -->
   <xs:complexType name="time-tagged-data">
      <xs:all>
         <xs:element name="dsflag" type="dsflag-data-item" minOccurs="0"/>
         <xs:element name="gsm_bx" type="gsm-bx-data-item"  minOccurs="0"/>
         <xs:element name="gsm_by" type="gsm-by-data-item"  minOccurs="0"/>
         <xs:element name="gsm_bz" type="gsm-bz-data-item"  minOccurs="0"/>
         <xs:element name="bt" type="bt-data-item"  minOccurs="0"/>
         <xs:element name="gsm_lat" type="gsm-lat-data-item" minOccurs="0"/>
         <xs:element name="gsm_lon" type="gsm-lon-data-item"  minOccurs="0"/>
         
      </xs:all>
      <xs:attribute name="time-tag" type="xs:dateTime" use="required"/>
   </xs:complexType>
   
   <!-- An enumeration of valid data source values for this XML message -->
   <xs:simpleType name="data-sources">
      <xs:restriction base="xs:string">
         <xs:enumeration value="goes-13"/>
         <xs:enumeration value="goes-14"/>
         <xs:enumeration value="goes-15"/>
         <xs:enumeration value="goes-r"/>
         <xs:enumeration value="goes-16"/>
          <xs:enumeration value="ace"/>
      </xs:restriction>
   </xs:simpleType>
   
   <!-- An enumeration of valid instruments for this XML message -->
   <xs:simpleType name="instruments">
      <xs:restriction base="xs:string">
         <xs:enumeration value="mag"/>
      </xs:restriction>
   </xs:simpleType>

   <!-- An enumeration of valid data type values for this XML message -->
   <xs:simpleType name="data-types">
      <xs:restriction base="xs:string">
         <xs:enumeration value="magnetometer"/>
      </xs:restriction>
   </xs:simpleType>
   
   <!-- An enumeration of valid data resolution units -->
   <xs:simpleType name="data-resolution-units">
      <xs:restriction base="xs:string">
         <xs:enumeration value="seconds"/>
         <xs:enumeration value="minutes"/>
         <xs:enumeration value="hours"/>
         <xs:enumeration value="days"/>
      </xs:restriction>
   </xs:simpleType>
   
   <!--
        A complex type used to specify the data sampling resolution
        for the contents of the data set.
   -->
   <xs:complexType name="data-resolution-type">
      <xs:simpleContent>
         <xs:extension base="xs:positiveInteger">
            <xs:attribute name="units" type="data-resolution-units" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
      
   <!--
         A simpleType specifying the type and value restrictions
         for the dsflag data.
   -->
   <xs:simpleType name="dsflag-type">
      <xs:restriction base="xs:nonNegativeInteger">
         <xs:minInclusive value="0"/>
         <xs:maxInclusive value="9"/>
      </xs:restriction>
   </xs:simpleType>
   
   <xs:complexType name="dsflag-data-item">
      <xs:simpleContent>
         <xs:extension base="dsflag-type">
           <xs:attribute name="description" fixed="Data Status Flag"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   
     
    <!--
         A simpleType specifying the type and value restrictions
         for the gsm_bx data.
   -->   
   <xs:simpleType name="gsm-bx-type">
      <xs:restriction base="xs:float">
         <xs:minInclusive value="-1000."/>
         <xs:maxInclusive value="1000."/>
      </xs:restriction>
   </xs:simpleType>
   
   <xs:complexType name="gsm-bx-data-item">
      <xs:simpleContent>
         <xs:extension base="gsm-bx-type">
            <xs:attribute name="units" fixed="nT"/>
            <xs:attribute name="description" fixed="Magnetic Field in X-direction, GSM Cartesian coordinates"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   
   
   <!--
         A simpleType specifying the type and value restrictions
         for the gsm_by data.
   -->   
   <xs:simpleType name="gsm-by-type">
      <xs:restriction base="xs:float">
         <xs:minInclusive value="-1000."/>
         <xs:maxInclusive value="1000."/>
      </xs:restriction>
   </xs:simpleType>
   
   <xs:complexType name="gsm-by-data-item">
      <xs:simpleContent>
         <xs:extension base="gsm-by-type">
            <xs:attribute name="units" fixed="nT"/>
            <xs:attribute name="description" fixed="Magnetic Field in Y-direction, GSM Cartesian coordinates"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   
   
   <!--
         A simpleType specifying the type and value restrictions
         for the gsm_bz data.
   -->   
   <xs:simpleType name="gsm-bz-type">
      <xs:restriction base="xs:float">
         <xs:minInclusive value="-1000."/>
         <xs:maxInclusive value="1000."/>
      </xs:restriction>
   </xs:simpleType>
   
   <xs:complexType name="gsm-bz-data-item">
      <xs:simpleContent>
         <xs:extension base="gsm-bz-type">
            <xs:attribute name="units" fixed="nT"/>
            <xs:attribute name="description" fixed="Magnetic Field in Z-direction, GSM Cartesian coordinates"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   
   
   <!--
         A simpleType specifying the type and value restrictions
         for the bt data.
   -->   
   <xs:simpleType name="bt-type">
      <xs:restriction base="xs:float">
         <xs:minInclusive value="0."/>
         <xs:maxInclusive value="1000."/>
      </xs:restriction>
   </xs:simpleType>
   
   <xs:complexType name="bt-data-item">
      <xs:simpleContent>
         <xs:extension base="bt-type">
            <xs:attribute name="units" fixed="nT"/>
            <xs:attribute name="description" fixed="ACE IMF total field from averaged components"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   
   
   <!--
         A simpleType specifying the type and value restrictions
         for the gsm_lat data.
   -->   
   <xs:simpleType name="gsm-lat-type">
      <xs:restriction base="xs:float">
         <xs:minInclusive value="-90."/>
         <xs:maxInclusive value="90."/>
      </xs:restriction>
   </xs:simpleType>
   
   <xs:complexType name="gsm-lat-data-item">
      <xs:simpleContent>
         <xs:extension base="gsm-lat-type">
            <xs:attribute name="units" fixed="degrees"/>
            <xs:attribute name="description" fixed="ACE spacecraft position in GSM latitude"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   
   
      <!--
         A simpleType specifying the type and value restrictions
         for the gsm_lon data.
   -->   
   <xs:simpleType name="gsm-lon-type">
      <xs:restriction base="xs:float">
         <xs:minInclusive value="0."/>
         <xs:maxInclusive value="360."/>
      </xs:restriction>
   </xs:simpleType>
   
   <xs:complexType name="gsm-lon-data-item">
      <xs:simpleContent>
         <xs:extension base="gsm-lon-type">
            <xs:attribute name="units" fixed="degrees"/>
            <xs:attribute name="description" fixed="ACE spacecraft position in GSM longitude"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   
         
  <!--
         Meta-data field description line
   -->
   
   <xs:complexType name="field-description-list">
      <xs:sequence>
         <xs:element name="field-def" type="field-definition" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="description" type="xs:string" minOccurs="0"/>
      </xs:sequence>
              
      <!--
            The "instrument" attribute (e.g. xrs, eps). This attribute
            is of type "instruments" which is a simple type enumerating
            the valid string values for "instrument".
      -->
      <xs:attribute name="instrument" type="instruments" use="required"/>
      <xs:attribute name="data-type" type="data-types" use="required"/>        
        
   </xs:complexType>
   
   <xs:attribute name="field-name" type="xs:token"/>
   <xs:attribute name="type" type="xs:string"/>
   
   <xs:complexType name="field-definition">
      <xs:all>
         <xs:element name="units" type="xs:string" minOccurs="0"/>
         <xs:element name="description" type="xs:string" minOccurs="0"/>
         <xs:element name="data-range" minOccurs="0">
            <xs:complexType>
                  <xs:attribute name="minInclusive" type="xs:float"/>
                  <xs:attribute name="minExclusive" type="xs:float"/>
                  <xs:attribute name="maxInclusive" type="xs:float"/>
                  <xs:attribute name="maxExclusive" type="xs:float"/>
            </xs:complexType>
         </xs:element>
      </xs:all>
      <xs:attribute ref="field-name" use="required"/>
      <xs:attribute ref="type" use="required"/>

   </xs:complexType>
   
</xs:schema>